<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Interactive Visualizer</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <header>
      <nav class="navbar navbar-light bg-faded navbar-toggleable-md fixed-top">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">Interactive Visualizer</a>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link {% if (request.path == '/visualizer/') or (request.path == '/visualizer') %}active{% endif %}" href="{{ url_for('page_home') }}" title="Home">Home</a>
          </li>
         <!--  <li class="nav-item">
            <a class="nav-link {% if (request.path == '/visualizer/settings/') or (request.path == '/visualizer/settings') %}active{% endif %}" href="{{ url_for('page_settings') }}" title="Settings">Settings</a>
          </li> -->
        </ul>
      </div>
    </nav>
    </header>

    <div class="container-fluid">
      {% block content %}
      {% endblock %}
    </div>

    <footer class="footer mt-3">
      <p>
        <a href="#" title="Back to top">Back to top</a>
      </p>
    </footer>

    <script src="{{ url_for('static', filename='js/jquery-3.2.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tether.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/d3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/scatterchart.js') }}"></script>
  </body>
</html>