/*
*
* Interactive Visualizer Stylesheet
*
*/

body {
    min-height: 75rem;
    padding-top: 4.5rem;
}

#feedback {
	display: none;
}

#chart {
	position: relative;
	width: 100%;
	padding-bottom: 50%; 
	vertical-align: middle; 
	overflow: hidden;
}

#chart-content {
	position: absolute;
	top: 0;
}

circle {
	stroke: darkblue;
	stroke-opacity: .75;
	fill-opacity: .5;
}

#post {
	display: none;
}

#neighbors {
	display: none;
}

#neighbors a {
	display: block;
}

.footer {
	padding: 2.5rem 0;
	color: #999;
	text-align: center;
	background-color: #f9f9f9;
	border-top: .05rem solid #e5e5e5;
}
.footer p:last-child {
	margin-bottom: 0;
}


/* Bootstrap fixes */
.btn-group-justified {
	display: table;
	width: 100%;
	table-layout: fixed;
	border-collapse: separate;
}
.btn-group-justified .btn,
.btn-group-justified .btn-group .btn {
	width: 50%;
}